body{

    background-image:url(Screenshot\ 2025-06-12\ 161508.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
  align-items: center;
  height: 100vh; /* Full screen height */
  margin: 0;
  flex-direction: column;
  background-position: center;
  /*justify-content: center;*/
    

}
td{

    border-radius: 7vh;
    border-color: transparent;
    /*width:30vw;*/
    height:25vh;
     background-color:cadetblue;
     border-spacing: 10px;
     position: center;
     
}

tr{

    border-radius: 50px;
    border-spacing: 100px;

}

table
{
    border-color: transparent;
    font-size: 4vh;
    text-align: center;
    border-spacing: 10px;
   
}

h1{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    

}

label
{

    color: white;
    font-size: 1.3vh;
}

.table3:hover
{
    td{

   
    border-color: transparent;
     background-color:whitesmoke;
     
}
}

a{
    text-decoration: none;
    color: black;
    font-size:2vh;
}

a:hover{

    background-color:none;
    color: whitesmoke;

}