body{

    background-image:url(Screenshot\ 2025-06-12\ 161508.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  margin: 0;
  flex-direction: column;
  background-size: cover;
  background-position: center;
    

}

form {
  width: 300px;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.1); /* Optional: for contrast */
  padding: 20px;
  border-radius: 10px;
}

a{
    
    font-size: 20px;
    padding-block: 10px;
    text-decoration: none;
    color: white;
    padding-left: 80px;

}

a:hover{
    color: greenyellow;

}

form{

    padding-top: 200px;
    padding-left: 530px;
    font-size: 25px;
    background-color: none;
}

input{

    background-color:transparent;
    border-color: white;
    border-radius: 50px;
    width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;

    

}

h1{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 400px;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
  }
}